*{
    box-sizing: border-box;
}
body {
    margin: 50px;
    font-size: 17px;
}

h1 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

table {
    width: 600px;
}
th {
    font-weight: normal;
}

table thead {
    background-color: rgb(233, 233, 233);
}

table tbody {
    background-color:rgb(177, 222, 245);
}
th, td {
    padding: 10px;
    text-align: left;
}
tbody tr:nth-child(even) {
    background-color: rgb(232, 247, 247);
}
tbody tr:hover {  /*quando passa o mouse por cima*/
   background-color:rgb(133, 6, 6);
}




/*th, td {
    border:1px solid black*/

