body {
    margin: 0;
}
.container {
    width: calc(100% - 20px);
    height: 200px;
    background-color: #CCC;
    border: green 3px solid;

    color: #FF0000;
}
.container strong {
    color: blue;
}